In [1]:
#uvoz biblioteke pandas
import pandas as pd

In [2]:
#kreiranje ugnježđene liste Rezultati
Rezultati = [[1, "Una",    "Zorić",      16.32, 1.21, 25],
             [2, "Marta",  "Stanojević", 15.44, 1.01, 16],
             [3, "Ognjen", "Novaković",  14.56, 1.10, 5],
             [4, "Petra",  "Kaličanin",  16.98, 0.89, 21],
             [5, "Novak",  "Đorđević",   15.01, 1.32, 28],
             [6, "Đurđe",  "Martać",     16.25, 1.18, 25],
             [7, "Kalina", "Ognjenović", 14.38, 0.95, 25],
             [8, "Vanja",  "Čolović",    14.55, 0.98, 26]]

In [3]:
#pravljenje tabele od ugnježđene liste
TabelaRezultata = pd.DataFrame(Rezultati)

In [4]:
#prikaz kreirane tabele
TabelaRezultata

   0       1           2      3     4   5
0  1     Una       Zorić  16.32  1.21  25
1  2   Marta  Stanojević  15.44  1.01  16
2  3  Ognjen   Novaković  14.56  1.10   5
3  4   Petra   Kaličanin  16.98  0.89  21
4  5   Novak    Đorđević  15.01  1.32  28
5  6   Đurđe      Martać  16.25  1.18  25
6  7  Kalina  Ognjenović  14.38  0.95  25
7  8   Vanja     Čolović  14.55  0.98  26

In [5]:
#dodeljivanje naziva kolonama
TabelaRezultata.columns = ["R. br.", "Ime", "Prezime", "Trka100m", "Skok udalj", "Čučnjevi"]

In [6]:
TabelaRezultata

   R. br.     Ime     Prezime  Trka100m  Skok udalj  Čučnjevi
0       1     Una       Zorić     16.32        1.21        25
1       2   Marta  Stanojević     15.44        1.01        16
2       3  Ognjen   Novaković     14.56        1.10         5
3       4   Petra   Kaličanin     16.98        0.89        21
4       5   Novak    Đorđević     15.01        1.32        28
5       6   Đurđe      Martać     16.25        1.18        25
6       7  Kalina  Ognjenović     14.38        0.95        25
7       8   Vanja     Čolović     14.55        0.98        26

**Čuvanje tabele u različitim formatima**

In [ ]:
TabelaRezultata.to_csv("Takmičenje.csv")

In [ ]:
TabelaRezultata.to_csv("Takmicenje.csv", index=False)

In [ ]:
TabelaRezultata.to_csv("Takmicenje.csv", index=False, encoding = "utf-8-sig")

In [ ]:
TabelaRezultata.to_excel("Takmicenje.xlsx", index=False)

In [ ]:
TabelaRezultata.to_csv("Takmicenje.txt", index=False)

In [ ]:
TabelaRezultata.to_csv("C:/Users/Ucenik/Desktop/Takmičenje.csv", index=False)

**Učitavanje tabela iz fajlova s računara i s interneta**

In [ ]:
TabelaOcena = pd.read_csv("C:/Users/Ucenik/Desktop/Ocene.csv")

In [ ]:
TabelaOcenaXL = pd.read_excel("C:/Users/Ucenik/Desktop/Ocene.xlsx")

In [ ]:
TabelaGT = pd.read_csv("https://github.com/vulkanznanje/Fajlovi/blob/master/Ocene.csv")